result
*.test

# vscode extension
vscode/node_modules/
vscode/out/
vscode/*.vsix

# JetBrains plugin
jetbrains/.gradle/
jetbrains/.idea/
jetbrains/.intellijPlatform/
jetbrains/.kotlin/
jetbrains/build/
